{# templates/login.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <h1>Connexion</h1>

    <form method="post">
        {{ form_widget(form.email) }}
        {{ form_widget(form.password) }}

        <button type="submit">Se connecter</button>
    </form>
    <p>Pas encore de compte ? <a href="{{ path('app_register') }}">S'inscrire ici</a></p>
{% endblock %}
