{# templates/admin/add_project.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}
    <h1>Ajouter un nouveau projet</h1>
    {# Ajoutez ici le formulaire pour ajouter un nouveau projet #}
{% endblock %}
