{# templates/admin/dashboard.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}
    <h1>Tableau de bord - Back-Office</h1>
    {# Ajoutez ici des liens vers les différentes pages de gestion des entités (projets, CV, etc.) #}
{% endblock %}
