{# templates/admin/edit_project.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}
    <h1>Modifier le projet {{ project.id }}</h1>
    {# Ajoutez ici le formulaire pour modifier le projet #}
{% endblock %}
