{# templates/admin/list_projects.html.twig #}

{% extends 'base.html.twig' %}

{% block content %}
    <h1>Liste des projets</h1>
    {# Ajoutez ici le code pour afficher la liste des projets #}
{% endblock %}
